[user]
    name = Matthias Osswald
    email = m@osswald.li
    username = busykoala
    signingkey = AE14B2E4
[commit]
    gpgsign = true
    template = /Users/busykoala/.stCommitMsg
[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/dotfiles/.gitignore
[branch]
    autosetuprebase = always
[format]
    pretty = %C(blue)%h%Creset %s %C(green)%d%Creset [%C(red)%an%Creset, %C(cyan)%cr%Creset] %C(bold reverse)%N%Creset
[rerere]
    enabled = 0
[diff]
    tool = vimdiff
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
